/* index.html */

:root {
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --brand-color: #212121;
  --studio-top-color: rgb(0, 0, 0);
  --studio-bottom-color: white;
  --team-background-color: #f5f4fa;
  --menu-nav-menu-footer-bckgr: #2f303a;
  --link-color-hover: #2196f3;
}

body {
  font-family: var(--main-font);
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  outline: 2px dashed #f44336;
}

img {
  display: block;
}
.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-contact-link:hover,
.header-contact-link:focus {
  color: #2196f3;
}

.header-contact-link {
  width: 110px;
  height: 16px;
  left: 1263px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.header-nav-list {
  display: flex;
  margin-left: 93px;
}
.header-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contact-list {
  display: flex;
  margin-left: auto;
  margin-right: 50px;
}
.header-contact-link {
  margin-right: 50px;
}

.header-nav-item:not(:last-child) {
  margin-right: 46px;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #2196f3;
  text-align: center;
  align-items: center;
}

.studio-top {
  color: var(--studio-top-color);
}
ul {
  list-style: none;
}

.order-btn {
  background: #2196f3;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: white;
  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 39px;
  margin-left: 500px;
}

.order-btn:hover,
.order-btn:focus {
  cursor: pointer;
}

.orders {
 
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}
.orders,
.footer-menu-nav {
  background-color: var(--menu-nav-menu-footer-bckgr);
}

.order-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  align-items: center;
  color: #ffffff;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  padding-top: 200px;
  padding-bottom: auto;
}

.feature-menu {
  padding-top: 94px;
  padding-bottom: 94px;
}
.feature-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.feature-list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
}
.feature-item {
  margin-right: 30px;
  max-width: 270px;
}
.we-do,
.main-title-team {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.we-do-title {
  padding-top: 94px;
  padding-bottom: 50px;
}

.we-do-list {
  display: flex;
  justify-content: space-between;
}

.we-do-item:not(:last-child){
  margin-right: 30px;
  
}
.main-title-team {
  background-color: var(--team-background-color);
}

.worker {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.worker-position {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.studio-bottom {
  color: var(--studio-bottom-color);
}

.footer-menu-nav {
  
  height: 252px;
  left: 0px;
  top: 2097px;
}

.footer-contact-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-contact-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: #2196f3;
}

/* portfolio.html */

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: var(--brand-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: white;
  background: var(--link-color-hover);
}

.portfolio-title-client {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-title-client-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
